.info {
  width: 100%;
  height: auto;

  &__title {
    display: flex;
    width: 100%;
    padding-top: 2%;
  }
  &__title > h2 {
    font-size: 2rem;
    font-weight: 700;
    padding-top: 10px;
    margin-left: 15px;
  }
  &__icon {
    width: 30px;
    height: auto;
    color: #2196f3;
  }
  &__text {
    width: 100%;
    text-align: left;
    padding-top: 2%;
  }
  &__text > p {
    color: #797979;
    font-size: 0.954rem;
  }
}
@media (max-width: 480px) {
  .info {
    &__title > h2 {
      font-size: 1.6rem;
    }
    &__text > p {
      font-size: 0.8rem;
    }
  }
}
.button-activ {
  position: relative;
  z-index: 99999;
  background-color: #2196f3 !important;
  color: #ffffff !important;
  transform: scale(1.4);
}
.button-activ > a {
  color: #ffffff !important;
}
.button-activ > a > span {
  color: #ffffff !important;
}
.button-activ > div > span {
  color: #ffffff;
}
.button-activ > span {
  color: #ffffff !important;
}
.myLink {
  position: absolute;
}

.block-animation {
  transform: translate(-100%, 0px);
  opacity: 0;
  transition: all 0.9s ease 0s;
}
.block-active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.wrapper {
  display: flex;
  padding-top: 1%;
  width: 100%;
  justify-content: space-evenly;
}
@media (max-width: 1140px) {
  .wrapper {
    position: relative;
  }
}
.sandwich {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &__block {
    width: 30px;
    height: 30px;
    margin: auto;
    display: flex;
    opacity: 0.5;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__block > span {
    width: 100%;
    height: 4px;
    margin: auto 0;
    background-color: #121212;
  }
  &__block:hover {
    opacity: 0.9;
  }
  &__clear {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    margin: auto;
    position: relative;
    display: block;
    z-index: 200;
    text-indent: -9999px;
    cursor: pointer;
  }

  &__clear:before,
  &__clear:after {
    content: "";
    width: 80%;
    height: 6px;
    background: #3F51B5;
    position: absolute;
    top: 48%;
    left: 10%;
    transform: rotate(45deg);
    transition: all 0.3s ease-out;
  }
  &__clear:after {
    transform: rotate(-45deg);
    transition: all 0.3s ease-out;
  }
  &__clear:hover:before,
  &__clear:hover:after {
    transform: rotate(180deg);
    background: #FCC02C;
  }
}
